<h3>{{viewTitle}}</h3>

<form action="/exame" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{exame._id}}">
    <div class="form-group">
        <label>Nome do exame:</label>
        <input type="text" class="form-control" name="nome" placeholder="Nome do exame" value="{{exame.nome}}">
        <div class="text-danger">
            {{exame.nomeError}}
        </div>
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <input type="text" class="form-control" name="descricao" placeholder="Detalhe o exame" value="{{exame.descricao}}">
        <div class="text-danger">
            {{exame.descricaoError}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Validade do exame:</label>
            <input type="number" class="form-control" name="validade" placeholder="Quantidade de dias" value="{{exame.validade}}">
        </div>
    </div>    
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/exame/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>