<span id="response" hidden >{{response}}</span>
<span id="dnc" hidden >{{dnc}}</span>

<h3>{{viewTitle}}</h3>

<form id="pacienteForm"action="/paciente" method="POST" autocomplete="off" >
<div class="row">
    <input type="hidden" name="_id" value="{{paciente._id}}">

        <div class="form-group col-sm-6">
            <label>Nome:</label>
            <input type="text" class="form-control" name="nome" placeholder="Ex.: Maria Fatima"  value="{{paciente.nome}}" required>
            <div class="text-danger">
                {{paciente.nomeError}}
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label>Sobrenome:</label>
            <input type="text" class="form-control" name="sobreNome" placeholder="Ex.: Carvalho" value="{{paciente.sobreNome}}" required>
            <div class="text-danger">
                {{paciente.sobreNomeError}}
            </div>
        </div>

         <div class="form-group col-sm-2">
            <label>Sexo:</label></br>
            
            <select class="form-control" name="sexo" value="{{paciente.sexo}}" form="pacienteForm" required>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select> 
            <div class="text-danger">
                {{paciente.sexoError}}
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label>Data de Nascimento:</label>
            <input type="date" class="form-control" id="dataN" name="dataNascimento" placeholder="Ex.: 09/03/1889" value="{{paciente.dataNascimento}}" required>
            <div class="text-danger">
                {{paciente.dataNascimentoError}}
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label>Nº do Cartão SUS:</label>
            <input type="number" class="form-control" maxlength="15" minlength="15" size="15" name="cartaoSus" placeholder="Ex.: 000 0000 0000 0000" value="{{paciente.cartaoSus}}" required>
            <div class="text-danger">
                {{paciente.cartaoSusError}}
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label>Endereço:</label>
            <input type="text" class="form-control" name="endereco" placeholder="Ex.: Rua José" value="{{paciente.endereco}}" required>
            <div class="text-danger">
                {{paciente.enderecoError}}
            </div>
        </div>

        <div class="form-group col-sm-2">
            <label>N°:</label>
            <input type="text" class="form-control" name="numero" placeholder="Ex.: 42" value="{{paciente.numero}}" >
            <div class="text-danger">
                {{paciente.numeroError}}
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>Complemento:</label>
            <input type="text" class="form-control" name="complemento" placeholder="Ex.: Casa" value="{{paciente.complemento}}">
            <div class="text-danger">
                {{paciente.complementoError}}
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>Bairro:</label>
            <input type="text" class="form-control" name="bairro" placeholder="Ex.: São Jóse" value="{{paciente.bairro}}" required>
            <div class="text-danger">
                {{paciente.bairroError}}
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label>Cidade:</label>
            <input type="text" class="form-control" name="cidade" placeholder="Ex.: Natal" value="{{paciente.cidade}}" required>
            <div class="text-danger">
                {{paciente.cidadeError}}
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>Estado:</label> </br>         
            <select class="form-control" id="estado" name="estado"  value="{{paciente.estado}}" form="pacienteForm" required>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
            </select>
            <div class="text-danger">
                {{paciente.estadoError}}
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>CEP:</label>
            <input type="text" class="form-control" name="cep" placeholder="Ex.: 00000-000" value="{{paciente.cep}}" required>
            <div class="text-danger">
                {{paciente.cepError}}
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label>E-mail:</label>
            <input type="text" class="form-control" name="email" placeholder="Ex.: maria.carvalho@gmail.com" value="{{paciente.email}}">
            <div class="text-danger">
                {{paciente.emailError}}
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label>Telefone:</label>
            <input type="text" class="form-control" name="telefone" placeholder="Ex.: (00) 00000-0000" value="{{paciente.telefone}}"required>
            <div class="text-danger">
                {{paciente.telefoneError}}
            </div>
        </div>

        <div class="form-group col-sm-12">
            <button type="submit" class="btn btn-success">Cadastrar</button>
            <a class="btn btn-info" href="/paciente/list">Listar Todos</a>
        </div>
</div>
</form>

<script>
    
    let dn = document.getElementById('dnc').innerHTML

    document.getElementById('dataN').value = dn;
    let a = document.getElementById('response').innerHTML;


    if(a)
        alert(a);
    
    


   

</script>