<style>
            div, input {
                border-radius: 10px;
            }
        </style>

<h3>Lista de Pacientes</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>SUS</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Telefone</th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.nome}} {{this.sobreNome}}</td>
            <td>{{this.cartaoSus}}</td>
            <td>{{this.cidade}}</td>
            <td>{{this.estado}}</td>
            <td>{{this.telefone}}</td>
            <td>
                <a href="/paciente/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/paciente/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a class="btn btn-success" href="/paciente">Novo Paciente</a> 